/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Footer Styles*/
.footer{
    box-shadow: -10px 0px 100px -30px variables.$light-red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: variables.$light-dark;

    &__btn{
        padding: 10px;
        font-weight: bold;
        border-radius: 15px;
        outline: none;
        border: none;
        margin-left: 30px;
        transition: all .5s;

        &:hover{
            cursor: pointer;
            background-color: variables.$light-red;
        }
    }
}